@import './reset';
@import './variables/vars';

* {
    box-sizing: border-box;
}

#root {
    min-height: 100vh;
}

body,
html {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    color: var(--color-dark);
    background-color: var(--bg-color);
}

hr {
    border: .5px solid var(--grey)
}

.secondary {
    --bg: var(--secondary)
}

