:root {
	--bg-color: #fdfdfd;
	--bg-additional-color: #fff;
	--primary: #a43270; // Фиолетовый
	//--primary-light: #A43270; // Дополнительный 1

	--secondary: #514996; // Синий
	//--secondary-light: #514996; // Дополнительный 2

	--tertiary: #7b7f9f;

	--color-dark: #3d3f4c;
	//--color-dark-secondary: #3d3f4c;

	--color-light: #f9feff;
	--color-light-secondary: #ffffff;

	--gray: #d1e6eb;
	--gray-light: #c8cbe3;
	--gray-dark: #6c6e87;

	--additional-blue: #433fe3;

	--quick-animation: cubic-bezier(0.47, 2.1, 0.33, 0.68);
	--scollbar-color: 182, 215, 222;
	--card-shadow: 0px 1px 3px 1px #00000026, 0px 1px 2px 0px #0000004d;
}
