:root {
    --bg-color: #f9feff;
    --contained-btn-bg: #9b1d6a;
    --contained-btn-color: #f9feff;

    --text-btn-color: #3d3f4c;
    --color-dark: #000;
    --color-light: #F9FEFF;
    --color-purple: #811F52;
}