:root {
    --bg-color: #f9feff;
    --primary: #A43270;  // Основной 1
    --primary-light: #A43270; // Дополнительный 1

    --secondary: #393184; // Основной 2
    --secondary-light: #514996; // Дополнительный 2

    --color-dark: #3d3f4c;
    //--text-dark-secondary: #3d3f4c;

    --color-light: #F9FEFF;
    //--text-light-secondary: #F9FEFF;

}