.slick-slide {
    margin-inline: 4px;
    //width: 288px !important;
    height: auto;
}

.slick-list {
    margin-inline: -4px;
    overflow: visible;
}

.slick-prev, .slick-next {
    width: 32px;
    height: 32px;
    transform: none !important;
}

.slick-prev {
    left: auto;
    right: 60px;
    top: -28px;
}

.slick-next {
    right: 9px;
    top: -28px;
}

.slick-prev:before, .slick-next:before {
    display: none;
    font-size: 32px;
    //opacity: 1 !important;
}
