.MyManager {
    position: relative; 
    padding-bottom: 32px; 
    overflow: hidden;
    display: flex;
    gap: 23px;
    flex-direction: column;
    justify-content: space-between;
}

.btnMessage {
    display: flex;
    gap: 8px;
    align-items: center;
    z-index: 2;
    color: var(--color-light) !important;
}

.infoManager {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.avatarFIO {
    display: flex;
    gap: 18px;
    align-items: center;
}

.phoneManager {
    display: flex;
    gap: 8px;
    align-items: center;
    z-index: 2;
    color: var(--color-light);
}
