.TitleContainer {
	overflow: hidden;
	position: relative;

	&:after {
		content: '';
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 1.75rem;
		background: linear-gradient(
			90deg,
			transparent 70%,
			var(--bg-color) 95%
		);
	}
}
