@import '../../../app/styles/variables/vars.scss';

.recomendItem {
    border-radius: 32px;
    padding: 16px;
    display: flex !important;
    flex-direction: column;
    gap: 16px;
    width: 288px;
    height: 247px;
    margin-top: 15px;
}
