@import 'app/styles/variables/vars.scss';

.myCompanyAccounts {
    padding: 0 !important;
    display: flex;
}

.myCompany {
    box-shadow: none;
    background-color: var(--primary);
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 55px;
    //width: 539px; // Адаптив ломает, надо придумать как по другому сделать
}

.myAccounts {
    box-shadow: none;
    color: var(--color-dark);
    //width: 410px; // Адаптив ломает, надо придумать как по другому сделать
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 24px 16px 32px;
}
