@import 'app/styles/variables/vars.scss';

.myCompanyAccounts {
    max-width: 948px;
    padding: 0 !important;
    display: flex;
    justify-content: space-between;
}

.myCompany {
    box-shadow: none;
    background-color: var(--primary-light);
    color: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 545px;
}

.myCompany a {
    color: var(--color-light);
}

.myAccounts {
    box-shadow: none;
    color: var(--color-dark);
    width: 403px;
}

.dateEnd {
    text-align: end;
}