.companyCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 24px 16px;
}

.btnExtend {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnCopy {
    display: flex;
    gap: 8px;
    align-items: center;
}