.Button {
    font-weight: 300;
    border-radius: 8px;
    padding: 10px 16px;
    border-color: transparent;
    --bg: var(--primary);

    & svg {
        stroke: var(--color-dark);
    }

    &.contained {
        background-color: var(--bg);
        color: var(--color-light);

        & svg {
            stroke: var(--color-light);
        }
    }

    &.text {
        background-color: transparent;
        border-color: transparent;
    }

    &.outlined {
        background-color: transparent;
        border: 1px solid var(--bg);
    }

}


