.Button {
    border-radius: 8px;
    padding: 10px 16px;
    border-color: transparent;
    &.contained {
        background-color: var(--contained-btn-bg);
        color: var(--contained-btn-color);
    }
    &.text {
        background-color: transparent;
        border-color: transparent;
        color: var(--text-btn-color);
    }
    &.outlined {
        background-color: transparent;
        color: var(--text-btn-color);
        border: 1px solid var(--text-btn-color);
    }
}
