.Input {
	display: flex;
	gap: 10px;
	align-items: center;
	position: relative;
	padding: 16px;

	&.outline {
		border-radius: 8px;
	}

	&.card-styled {
		box-shadow: var(--card-shadow);
		border-radius: 16px;
		position: relative;
		overflow: hidden;

		padding: 14px 28px;
		& input {
		}
	}

	& svg {
		stroke: var(--color-dark);
	}

	& input {
		flex-grow: 1;
		font-size: 20px;

		&::placeholder {
			color: var(--color-dark);
		}
	}

	&:has(> .IconBefore) {
		& input {
			padding-left: 50px;
		}
	}

	&:has(> .IconAfter) {
		& input {
			padding-right: 50px;
		}
	}

	& .IconBefore,
	& .IconAfter {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	& .IconBefore {
		left: 16px;
	}

	& .IconAfter {
		right: 16px;
	}
}
